${header}
<form class="forecast-form" method="POST" action="/send-forecast" id="Forecast">
	<div>
		<label class="block" for="EmailSubject">Subject Line:</label>
		<input id="EmailSubject" type="text" name="subject" placeholder="Subject" />
	</div>
	<div>
		<input type="checkbox" id="specialControl" />
		<label for="specialControl">Include Preforecast Text?</label>
		<br />
		<div id="specialWrapper" style="display: none;">
			<label class="block" for="special">Special:</label>
			<textarea
				id="special"
				name="special"
				rows="15"
				cols="75"
				placeholder="Special text goes here..."
			></textarea>
		</div>
	</div>
	<div>
		<label class="block" for="ForecastBody">Forecast:</label>
		<textarea
			id="ForecastBody"
			name="forecast"
			rows="15"
			cols="75"
			placeholder="Forecast goes here..."
		></textarea>
	</div>
	<div>
		<label class="block" for="DiscussionBody">Discussion:</label>
		<textarea
			id="DiscussionBody"
			name="discussion"
			rows="10"
			cols="75"
			placeholder="Discussion goes here..."
		></textarea>
	</div>
	<div>
		<p>INCLUDE:</p>
		<label for="FSUDislamer">FSU Disclaimer:</label>
		<input name="disclaimer" type="checkbox" id="FSUDislamer" checked />
		<br />
		<label for="Donations">Donations Text:</label>
		<input name="donations" type="checkbox" id="Donations" checked />
		<br />
		<label for="Subscription">Subscription Information:</label>
		<input
			name="subscriptions"
			type="checkbox"
			id="Subscription"
			checked
			disabled
		/>
		<text style="display: inline; color: rgba(0, 0, 0, 0.5);"
			>(Always enabled)</text
		>
	</div>
	<div>
		<button type="submit" id="SendForecast">Send Forecast</button>
	</div>
</form>

<script>
	document
		.getElementById('specialControl')
		.addEventListener('change', ({ target }) => {
			document.getElementById('specialWrapper').style.display = target.checked
				? 'block'
				: 'none';
			if (!target.checked)
				document.querySelector('#specialWrapper > textarea').value = '';
		});
</script>
${footer}
